.create-room-button {
  height: 100vh;
  line-height: 100vh;
  text-align: center;
}

input[type='submit'] {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  height: 5rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  &:active {
    box-shadow: none;
    margin-top: 5px;
    margin-left: 5px;
    outline: none;
  }
}
